
  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .image{
    width: 100px;
    height: 100px;
  }
